flatbuffers==24.12.23
jupyterlab==4.3.4
langchain==0.3.14
langchain-community==0.3.14
langchain-experimental==0.3.4
langchain-openai==0.2.14
matplotlib==3.10.0
neo4j==5.27.0
numpy==2.2.1
opencv-python==4.10.0.84
pandas==2.2.3
polars==1.19.0
protobuf==5.29.2
scikit-learn==1.6.0
